* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* ////////////////////////////////homepage\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    height: 100px;
    background-color: rgb(0, 9, 21);
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content .brand {
    width: 200px;
    height: 100px;
}
.header-content .brand img {
    width: 200px;
    height: 100px;
}
.log  a,.regist  a{
    display: block;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    margin: 0px 5px;
    font-family:'Courier New', Courier, monospace;
}
nav ul {
    display: flex;
    list-style: none;
}
.log a {
    width: auto;
    border: 1px solid #216b88;
    color:#216b88
   
}
.regist a {
    width: auto;
    border: 1px solid #269136;
    color:#269136
   
}
.log a:hover {
    background-color: #216b88;
    color: #fff;
    transition: 0.3s;
}
.regist a:hover {
    background-color: #269136;
    color: #fff;
    transition: 0.3s;
}
.container{
    width: 70%;
    margin: auto;
    padding: 20px 0px;
}
.search_form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_form input[type="text"]{
    width: 60%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.search_form button{
    padding: 6px 25px;
    font-size: 16px;
    border: none;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.search_form select{
    padding: 8px 18px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
 .search_form input[type="text"]:focus{
    box-shadow: 0 0px 3px 3px #3e75b3;
 }
.search_form select:focus{
    box-shadow: 0 0px 3px 3px #3e75b3;
} 
.user-info{
    display: none;
    width: 400px;
    font-size: 14px;
}

.user-name a{
    text-decoration: none;
    color: #fff;
}
.user_info{
   font-size: 14px;
}
.shopping_cart i{
    font-size: 18px;
    cursor: pointer;
    color: #fff;   
}
.badge{
    position: relative;
    top: -10px;
    left: -5px;
    color: #fff;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 15px;
    
}
.carts_products{

    position: absolute;
    transform: translate(-50px,20px);
    width: 230px;
    text-align: center;
    margin: auto;
    box-shadow: 0 0px 10px 0px #ccc,
    0 0px 10px 0px #ccc,
    0 0px 10px 0px #ccc;
    color: #053998;
    z-index: 10;
    background-color: #fff;
    display: none;
}
.carts_products a{
    text-decoration: none;
    color: #08247a;
    height: 20px;
    text-shadow: 0 0px 2px #ccc,
    0 0px 2px #ccc,
    0 0px 2px #ccc;
    font-size: 16px;
    padding: 15px 0;
}
.cart_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.item_info{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;


}

.item_info_content h3{
    padding: 5px 0;
}
.increment{
    display: flex;
    align-items: center;
}

.increase, .decrease{
    padding: 5px 10px;
    border:1px solid #ccc;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 2px;
}
.item-count{
    padding: 0px 10px;
    font-size: 16px;
}
.item_info p{
    font-size: 14px;
    margin-bottom: 3px;
}

.logout a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border: 1px solid #12456d;
    border-radius: 5px;
}
.logout a:hover{
    background-color: #12456d;
    color: black;
    transition: 0.3s;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-top: 25px;
    padding: 15px 0;
    gap: 10px;

}
.product_item{
    width: 30%;
    margin-bottom:5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0px #ccc;
    text-align: center;
    background-color: #f8f5f5;
    transition: .5s;
}
.product_item:hover{
    box-shadow: 0px 0px 2px 2px #980505;
    transform: translateY(-10px);
    transition: .5s;
}
.product_item_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.product_item_desc{
    padding: 10px;
}
.product_item_desc h2, .product_item_desc p, .product_item_desc span{
    font-size: 18px;
    color: #475162;
    margin-bottom: 10px;
}
.product_item_action{
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;    
}
.add_to_cart, .remove_from_cart{
    padding:9px  10px;
    background-color: #041941;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    font-size: 13px;
   }
.remove_from_cart{
    background-color: #b30000;    
}


.add_to_cart:hover,.remove_from_cart:hover {
    background-color:#c5d9f1;
    color: #000000;
    transition: .5s;
}
.heart{
    color: #000000;
    padding: 10px;
    font-size: 20px;
}
/* ////////////////////////////////login\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.section-form{
    width: 80%;
    margin:auto;
    transform: translate(0, 50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0px #ccc;
    background-color: rgb(248, 245, 245);
}
.h4 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}
.section-form input[type="email"],
.section-form input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    background-color: #c5d9f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.section-form input[type="email"]:focus,
.section-form input[type="password"]:focus{ 
    box-shadow: 0 0px 3px 3px #3e75b3;
    background-color: #fff;
}
input[type="checkbox"] {
    margin-right: 5px;
}   
.section-form input[type="submit"]{
    width: 50px;
    padding: 6px;
    border: none;
    display: block;
    margin: 7px 0;
    background-color: #053998;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
} 
.section-form a{
    color: #053998;
    padding: 10px;

}

/* ////////////////////////////////////register page\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.regist-section-form{
    width: 80%;
    margin:auto;
    transform: translate(0, 50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0px #ccc;
    background-color: rgb(248, 245, 245);
}
.username{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.username div{
    width: 49%;
    
}   
.username input[type="text"]{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.username input[type="text"]:focus{
    box-shadow: 0 0px 3px 3px #3e75b3;
    background-color: #fff;
}
.regist-section-form input[type="email"],
.regist-section-form input[type="password"]{
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.regist-section-form input[type="email"]:focus,
.regist-section-form input[type="password"]:focus{ 
    box-shadow: 0 0px 3px 3px #3e75b3;
    background-color: #fff;
}
input[type="checkbox"] {
    margin-right: 5px;
}   
.regist-section-form input[type="submit"]{
    width: 100px;
    padding: 6px;
    border: none;
    display: block;
    margin: 7px 0;
    background-color: #0556ec;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
} 
.regist-section-form a{
    color: #053998;
    padding: 10px;
    text-decoration: none;

}
/* ////////////////////////////cart product page\\\\\\\\\\\\\\\\\\\\\\\\ */
.product-added{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns:45% 45%;
    gap: 5%;
    margin:50px auto;
}
.product_img{
    border-radius: 5px;
}

.product_container{
    padding: 15px 10px;
    box-shadow: 0 0px 10px 0px #333232;
    border-radius: 5px; 
    height: 180px;
    display: flex;
    justify-content: space-around;
        transition: .5s;
}
.product_container:hover{
    border: 1px solid red;
    transform: translateY(-10px);
    transition: .5s;
}
.name1{
    font-size:20px;
    padding: 5px;
}
.category1{
    color: #475162;
    padding: 5px;
}
.price{
    padding: 5px;
}
.addition{
    display: flex;
    margin-top: 30px;
    gap: 10px;

}
.item-count{
    text-align: center;
    padding: 10px 0 0 7px;
}
.cart_total{
    width: 80%;
    margin: 20px auto;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.fav-container h2{
      position: absolute;
      top: 450px;
      left:555px;
      padding: 10px 0;
      border-bottom: 2px solid red;
}
.loved{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
    margin:120px auto;
}